mixin head
  head
    title= pageTitle

    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="icons/apple-touch-icon-76.png")
    link(rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76.png")
    link(rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon180.png")
    link(rel="icon" sizes="192x192" href="icons/android-icon-192.png")
    link(rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico")

    meta(name="theme-color" content="#{themeColor}")
    meta(name="msapplication-navbutton-color" content="#{themeColor}")
    meta(name="apple-mobile-web-app-status-bar-style" content="#{themeColor}")

    +styles
