//- Variables
//--------------------------------------------------------------------------------------------------
- var pageTitle = "Gulp for Denis"
- var themeColor = "#161616"


//- Includes
//--------------------------------------------------------------------------------------------------
include head
include styles
include scripts


//- Layout
//--------------------------------------------------------------------------------------------------
doctype html
html
  +head

  body.body
    main.main
      block layout-content

  +scripts
