// include from same folder
@import "_includes";

// include from all atoms
@import "../atoms/**/*";

// styles
.main {
  padding: 100px;
  border: 1px solid black;
}
@media screen and (min-width: 768px) {
  .main {
    padding: 10px;
  }
}
